ul{
    background-color: #FF3737;
}

body {
    background-color: #FFDDDD;
}

.nav-link{
    color: black;
    border-color:black;
}

#titulo {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
}